/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

body::-webkit-scrollbar-thumb {
  border: 2px solid #140c1c;
  border-radius: 1rem;
  background: linear-gradient(135deg, #22cd6f00, #08d665);
}

body::-webkit-scrollbar-track {
  background-color: #0b0d0e;
}

/* Loading Animation */
.loader {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid transparent;
  border-radius: 50%;
  border-right-color: #08d665;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

/* Loading animation when page is loaded */
.home-container {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Navbar animation */
.nav-show {
  animation: navShowAnimation 0.3s ease-in-out forwards;
}

.nav-hide {
  animation: navHideAnimation 0.3s ease-in-out forwards;
}

@keyframes navShowAnimation {
  0% {
    transform: translate(-50%, -130%);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes navHideAnimation {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, -130%);
  }
}

/* Top Button */
.top-btn {
  background-color: #0b0d0e86;
  box-shadow: 0 0.2rem 1.5rem rgba(47, 191, 113, 0.5);
}

.color {
  box-shadow: 0 0.2rem 1.5rem rgba(47, 191, 113, 0.5);
  color: #ffffff1a;
}

.top-icon::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #0b0d0e;
}

.animate {
  animation: topBtn 0.5s linear;
  opacity: 1;
}

@keyframes topBtn {
  0% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.icon-animation {
  animation: iconAnimation 1.5s infinite alternate-reverse;
  display: block;
}

@keyframes iconAnimation {
  0% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

/* Hero Section */
.hero-img-animation {
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(63, 171, 122, 1)); */
  background: linear-gradient(135deg, #0b0d0efa, #2fbf71);
  animation: imgAnimation 2s linear infinite;
}
@keyframes imgAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.mouse-icon {
  animation: mouseAnimation 1s infinite alternate-reverse;
}

@keyframes mouseAnimation {
  0% {
    top: -0.2rem;
  }
  100% {
    top: 0.2rem;
  }
}
